.underlineBar{
    height:3px;
    width:100%;
    background-color: #947534; 
}

.footerStyle{
    min-height:4em;
    width:100%;
    color: #ededed;
    text-align: center;
    padding:1em;
}

.footerPos{
    max-height:20px;
    width:100%;
    position: relative;
    bottom:0px;
}