@import '~@angular/material/theming';
@include mat-core();


$my-theme-primary: mat-palette($mat-grey, 700,800,900);
$my-theme-accent: mat-palette($mat-deep-purple);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent);
@include angular-material-theme($my-theme);