<div>
    <div class="myList">
        <div class="title">
            lista zadań
        </div>
        <div class="addBtn">
            <button mat-fab color="primary"><i class="material-icons">
                    add
                </i></button>
        </div>
        <div class="inputField">

            <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                <input matInput  />
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox color="primary" class="checkB">Check me!</mat-checkbox>


        </div>

    </div>
</div>