.myList{
    height:200px;
    width: 400px;
    background-color: burlywood;
    margin-right:auto;
    margin-left:auto;
    margin-top:100px;
    margin-bottom:100px;
}

.title{
    text-align: center;  
    FONT-FAMILY: "Verdana"; 
    color: black;
  /*  text-shadow: 2px 2px #505050; */
    font-size: 50px;  
  margin-top:15px;
}