<div [formGroup]="newTaskForm">
    <div class="myList">
        <div class="title">
            lista zadań
        </div>
        <div class="addBtn">
            <button mat-fab color="primary" (click)="onAdd()"><i class="material-icons">
                    add
                </i></button>
        </div>
        <div class="inputField">

            <mat-form-field appearance="outline" *ngIf="addInput" >
                    <mat-label>Outline form field</mat-label>
                <input #box (keyup.enter)="onEnter(box.value)"
                 formControlName="newTask" matInput  />
            </mat-form-field>
            
        </div>
        <div *ngFor="let task of tasksString; let i=index;" class="bottomList">
            <mat-checkbox color="primary" class="checkB" (click)="onChange()"
           
            >{{task}}</mat-checkbox>

            <i class="material-icons ">
                clear
                </i>
        </div>

            

    </div>
</div>

        

            