<div [formGroup]="newTaskForm">
    <div class="myList">
        <div class="title">
            {{list.name}}
        </div>
        <div class="date">
                <i class="material-icons">
                        date_range
                      </i>
            {{list.dueDate}}
        </div>
        <div class="addBtn">
            <button mat-fab color="primary" (click)="onAdd()"><i class="material-icons">
                    add
                </i></button>
        </div>
        <div class="inputField">

            <mat-form-field appearance="outline" *ngIf="addInput" >
                    <mat-label>Dodaj nowe zadanie</mat-label>
                <input #box (keyup.enter)="onEnter(box.value)"
                 formControlName="newTask" matInput  />
            </mat-form-field>
            
        </div>
        <div *ngFor="let task of tasks; let i=index;" class="bottomList">
            <mat-checkbox [checked]="task.status"     
        
            class="checkB doneTask" 
             color="primary" 
             (change)="onChange($event, task, i)" 
        [class.doneTask]="task.status==1?true:false"
          
            >{{task.name}}</mat-checkbox>

            <i class="material-icons deleteIcon " (click)="onDelete(task)">
                clear
                </i>
        </div>

            

    </div>
</div>

        

            