.myList{
   min-height:400px;
    width: 400px;
  
      background-image:url("src/assets/back.jpg");
    height:auto;
  
    background-color: burlywood;
    margin-right:auto;
    margin-left:auto;
    margin-top:100px;
    margin-bottom:100px;
}

.title{
    text-align: center;  
    FONT-FAMILY: "Verdana"; 
    color: black;

    font-size: 50px;  
  margin-top:15px;
  margin-bottom:20px;
}

.date{
  text-align: center;  
  FONT-FAMILY: "Verdana"; 
  color: black;

  font-size: 24px;  
margin-top:8px;
margin-bottom:20px;
}

.checkB{
  margin-top:35px!important;
  margin-left:20px;
}

.checked{
  text-decoration: line-through; 
}

.addBtn{
  height:fit-content;
  width:fit-content;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:20px;
}

.inputField{
  margin-right:auto;
  margin-left:auto;
  height:fit-content;
  width:fit-content;
}

.bottomList{
  padding-bottom:20px;
}

.doneTask{
  text-decoration: line-through;
  color:#717171;
}

.noDoneTask{
  text-decoration: none;
  color:black;
}

.deleteIcon{
  cursor: pointer;
}

.deleteIcon:hover{
  background-color: rgba(142, 120, 49, 0.4);
}

@media only screen and (max-width:439px){
  .myList{
    width: 90%;
  }
}