div>div>div{
    border:1px black solid;
    width:14.28vw;
    text-align: center;
    background-color: #c5c5c5;
    height:50px;
    vertical-align: middle;
}

.nowMonth{

}

.today{
    background-color: #e4e383!important;
}

.notNowMonth{
    color:#777777;
    background-color: #eae9e9!important;
}

.dayName{
    font-weight:bold;
    height:30px!important;
    font-size: 15px;
}

.month{
    color: #b9bd7e;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}