<h1 class="month">{{displayMonthAndYear}}</h1>
<div fxLayout='column'>
  <div fxLayout='row'>
    <div  *ngFor="let day of dayNames" class="dayName" fxFlex="auto">{{day}}</div>
  </div>
  <div fxLayout='row' *ngFor='let calendarRow of calendarCellsTable'>
    <div *ngFor="let day of calendarRow" fxFlex="auto"
     [ngClass]="[day.nowMonth?'nowMonth':'notNowMonth', day.today?'today':'']">
     {{day.number}}<br>
     <app-day [date]='day.date' class="listStyle"></app-day>
    
    </div>
  </div>
</div>
<div fxLayout='row' fxLayoutAlign="space-between center">
<button  mat-raised-button (click)="prevMonth()" class="btnPrevNext btnPrev">
    <i class="material-icons">
        arrow_back
        </i> Poprzedni miesiąc</button>
<button  mat-raised-button (click)="nextMonth()" class="btnPrevNext btnNext">Następny miesiąc
    <i class="material-icons">
        arrow_forward
        </i>
</button>
</div>