div>div>div{
    border:1px black solid;
    width:14.28vw;
    text-align: center;
    background-color: #c5c5c5;
    height:80px;
    vertical-align: middle;
}

.nowMonth{

}

.listStyle{
    font-size: 10px;
    background-color: #b9bd7e;
}

.today{
    background-color: #f4e1a1!important;
}

.notNowMonth{
    color:#777777;
    background-color: #eae9e9!important;
}

.dayName{
    font-weight:bold;
    height:30px!important;
    font-size: 15px;
}

.month{
    color: #b9bd7e;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnPrevNext{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:rgba(171, 155, 104, 1);
    font-size: 20px;
    height: 44px;
}

.btnNext{
    margin-right:15px;
}

.btnPrev{
    margin-left:15px;
}