.navPhoto{
    background-image:url("src/assets/nav.jpg");
    width:100%;
    height: 100px;
}

.underline{
    height:3px;
    width:100%;
    background-color: #947534;
}

.logoHeader{
    height: 110px;
    padding-top:8px;
    padding-bottom: 8px;
}

.nav-item{
    cursor:pointer;
}
.nav-item, .navbar-nav{
    display:inline-block;
}

.navPosition{
    padding: 20px;
    background-color:rgba( 171, 155, 104, 0.8);
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.active{
    background-color:rgba( 171, 155, 104, 1);
}

a:not([href]):not([tabindex])
{
    color:black;
}

li:focus{
    outline: none;
}