.navPhoto{
    background-image:url("src/assets/nav.jpg");
    width:100%;
    height: 100px;
}

.underline{
    height:3px;
    width:100%;
    background-color: #947534;
}

.logoHeader{
    height: 110px;
    padding-top:8px;
    padding-bottom: 8px;
}