<nav class="navbar navPhoto ">
  <a class="navbar-brand " href="#">
    <img src="assets/myicon.png" alt="logo" class="logoHeader">
  </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLink="lists"  routerLinkActive="active">

      <a class="nav-link navPosition ">
        <i class="material-icons">
          list_alt
        </i>
        Twoje listy 
        <!--<span class="sr-only">
          (current)</span>-->
        </a>
    </li>
    <li class="nav-item" routerLink="/calendar"  routerLinkActive="active">

      <a class="nav-link navPosition">

        <i class="material-icons">
          calendar_today
        </i>Kalendarz
      </a>
    </li>

  </ul>


</nav>
<div class="underline">

</div>